volumes:
  db-data:
  workspace:

services:
  mariadb:
    image: mariadb:lts
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: p@ssw0rd
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  php8_mysql:
    build: .
    restart: always
    volumes:
      - workspace:/var/www/html/
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      XDEBUG_MODE: develop,debug
      XDEBUG_CONFIG: client_host=host.docker.internal start_with_request=yes

  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"
